tr {
    cursor: pointer;
}

.topicsData:hover {
    background-color: grey;
}

::ng-deep .mat-form-field-wrapper{
    margin-top: 20px;
}


table.hidden {
    display: none;
}

.mat-flat-button {
    margin-left: 20px;
    height: 50px;
    margin-top: 20px
}

.doctags {
    display: flex;
}

.loading {
    max-width: 30%;
}
