<div>
  <h1 class="topicTitle">{{topicTitle}}</h1>

  <div *ngIf="examples">
    <div *ngFor="let example of examples">
      <h2 class="topicsData">{{ example.Title }}</h2>
      <div [innerHTML]="example.BodyHtml"></div>
      <div *ngFor="let contributor of example.Contributors">
        <span>
          Contributor's Id: {{ contributor.Id }},
        </span>
        <span *ngIf="contributor.Type">
          Type: {{ contributor.Type }}
        </span>
        <span *ngIf="contributor.DeletionReason">
         , DeletionReason: {{contributor.DeletionReason }}
        </span> 
      </div>
    </div>
  </div>
</div>

