mat-card{
    width: 40vw;
    height: 300px;
}
form {
    display: flex;
    flex-direction: column;
}
.error {
  color: red;
}
.error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2em;
}
.mat-input-container {
  margin-bottom: .5em;
}
#close3{
  float: right;
  cursor: pointer;
}
#close3:hover{
  background-color: black;
  color: white;
  border-radius: 12px;
  opacity: 0.3;
}
::ng-deep .mat-dialog-container{
  padding: 0;
  overflow: inherit;
}
.mat-card{
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
::ng-deep .mat-form-field-infix{
  border-top: 0.4075em solid transparent;
}
::ng-deep .ng-star-inserted{
  margin: 0;
}
 .mat-form-field{
  width: 200px;
}
.btn{
  position: absolute;
}
::ng-deep textarea.mat-input-element{
  height: 62vh;
}