<mat-card>
  <mat-card-title>Add Topic</mat-card-title>
  <mat-card-content>
    <form [formGroup]="topicForm">
      <mat-form-field>
        <input type="text" matInput formControlName="title" placeholder="Topic title" required>
        <mat-error *ngIf="topicForm.controls['title'].hasError"> Topic title is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="syntaxHtml" placeholder="Syntax Html" required>
        <mat-error *ngIf="topicForm.controls['syntaxHtml'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="parametersHtml" placeholder="Parameters Html" required>
        <mat-error *ngIf="topicForm.controls['parametersHtml'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="remarksHtml" placeholder="Remarks Html" required>
        <mat-error *ngIf="topicForm.controls['remarksHtml'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="introductionMarkdown" placeholder="Introduction Markdown" required>
        <mat-error *ngIf="topicForm.controls['introductionMarkdown'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="syntaxMarkdown" placeholder="Syntax Markdown" required>
        <mat-error *ngIf="topicForm.controls['syntaxMarkdown'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="parametersMarkdown" placeholder="Parameters Markdown" required>
        <mat-error *ngIf="topicForm.controls['parametersMarkdown'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="remarksMarkdown" placeholder="Remarks Markdown" required>
        <mat-error *ngIf="topicForm.controls['remarksMarkdown'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="helloWorldVersionsHtml" placeholder="Hello World Versions Html" required>
        <mat-error *ngIf="topicForm.controls['helloWorldVersionsHtml'].hasError"> Tag is invalid </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button class="btn"(click)="submitTopic()">Submit</button>
  </mat-card-actions>
</mat-card>

